@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-mymain: 43 255 6;
  --color-mysec: 212 212 216;
  --color-mytext: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mymain: 43 255 6;
    --color-mysec: 212 212 216;
    --color-mytext: 255 255 255;
  }
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 120%;
}
h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
.btn {
  border-radius: 5px;
  padding: 0.7rem 2.2rem;
  font-weight: 700;
  color: #111;
  text-transform: capitalize;
  transition: .15s ease-in-out;
}
.btn:hover {
  transform: translateY(-4px);
}
@media (max-width: 981px) {
  :root {
    font-size: 12px;
  }
}
